<!--section seisme and map-->
      
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>seisme</title>


  
</head>
<body>
  



      <section5 class="section about">
        <div class="container" >
          <div class="section-header text-center">
            <h4 class="section-title" style="font-size: 60px; align-items: center; margin-left: 100px;">Carte de Séisme</h4>
            <hr class="section"/>
            
        
          </div>
        
          <p>
            Le réseau sismique Malagasy fournit des informations en temps réel sur les tremblements de terre sur tout le territoire. L'Observatoire sismologique assure 
            l'analyse et le traitement des données, ainsi que  la localisation des séismes et l'établissement des cartes de sismicité. 
            Chaque étoile sur la carte est un séisme. Pour les événements survenus pendant ces derniers jours, vous pouvez interroger la carte des seismes 
            en cliquant sur Agrandir la carte.
            </p>
        </br>
       
           <iframe src="local_tile2.html"  width="100%"  id="Iframe" frameborder="0" onload="resizeIframe(this)"></iframe> 

        </div>
     
  </section5>
  
  <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    
   
        
  <script>
  //  window.addEventListener("resize", myFunction);
       function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
      //  alert(frame.contentWindow.document.body.scrollHeight);
      
      }
     /* function myFunction() {
        var frame = document.getElementById("Iframe");
              
        
              // set the height of the iframe as 
              // the height of the iframe content
              frame.style.height = 
              frame.contentWindow.document.body.scrollHeight + 'px';
    }*/
    
    window.setTimeout(function(){
            // code to run after 5 seconds...
          var frame = document.getElementById("Iframe");
              
        
              // set the height of the iframe as 
              // the height of the iframe content
              frame.style.height = 
              frame.contentWindow.document.body.scrollHeight + 'px';
          //    alert(frame.contentWindow.document.body.scrollHeight);
    }, 10000);     
  


  /*window.onload = function() {
     var iframe = document.getElementById("Iframe");
     iframe.width = iframe.contentWindow.document.body.scrollWidth;
     iframe.height = iframe.contentWindow.document.body.scrollHeight;
  }*/
</script>

  <script src="htpps://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

</body>
</html>

