body{
    margin: 0;
    padding: 0;
}
.contactEmailDiv{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: linear-gradient(180deg , rgb(43, 77, 43), rgb(69, 102, 69));
    color: white;
}
.contactEmailDiv i {
    color: white;
}
.ee{
    display: flex;
    align-items: center;
}
.ee h6{
    margin: 10px;
    font-size: 18px;
}

/*header nav*/

header{
    display: flex;
    justify-content: space-around;
    background-color: beige;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}
.logo{
    margin: 10px; 
}
nav ul{
    display: flex;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 8px 10px;
    font-size: 20px;
}
nav  li a::after{
    content: '';
    display: flex;
    margin: auto;
    height: 5px;
    width: 0%;
    background: #f1f111;
}
nav li a:hover:after{
    width: 100%;
}


.icon div{
    color: black;
    border-radius: 5px;
    font-size: 2rem;
    padding: 8px 10px;
    box-shadow: 1px 1px 10px rgba(201, 199, 199);
}

#img{
    width: 100%;
    height: 100px;
}


#menu-btn{
    display: none;
    font-size: 30px;
}
@media screen and (max-width:850px){
    #menu-btn{
        display: inline-block;
        color: black;
    }
    nav{
        position: absolute;
        top: 7rem;
        left: 110%;
        background-color: aliceblue;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav ul{
        display: block;
    }
    nav li{
        margin: 5px;
    }
    nav a{
        display: inline-block;
        font-size: 25px;
        padding: 10px;
    }
    #img{
        display: block;
        font-size: 3.5rem;
    }
    nav.active{
        left: 0px;
        transition: all 0.4s ease-in;
    }
}


 
/*home about*/
@import url(https://fonts.goolgleapis.com/css?family=Poppins:wght@100;200;300;400;500;600&display=swap);

:root{
    --main-color: #8e44ad;
    --black : #222;
    --white: #fff;
    --light-black:#777;
    --light-white: #fff9;
    --dark-bg: rgba(0,0,0,.7);
    --light-bg: #eee;
    --border: 1rem solid var(var(--black));
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar-track{
   background-color: var(--white);

}
html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
 
 }

section{
    padding: 5rem 10%;
} 

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    /*for services*/
    .heading-title{
        font-size: 3.5rem;
    } 
    #img{
        font-size: 3.5rem;
    }

}   


/*services*/
.heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--black);
}


.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
     
}
.services .box-container .box{
    padding: 3rem 2rem;
    text-align: center;
    background: var(--main-color);
    cursor: pointer;

}
.services .box-container .box:hover {
    background: var(--black);

}
.services .box-container .box img{
    height: 7rem;
}
.services .box-container .box h3{
    color: var(--white);
    font-size: 1.7rem;
    padding-top: 1rem;
}

/* Home starts*/
 
.home{
    padding: 0;
}
.home .slide {
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 60rem;
}
.home .slide .content {
    width: 85rem;
    display: none;
}
.home .swiper-slide-active .content{
    display: inline-block;
}

.home .slide .content span{
    display: block;
    font-size: 2.2rem;
    color: var(--light-white);
    padding-bottom: 1rem;
    animation:fadeIn .3s linear backwards .2s;
}
.home .slide .content .btn{
    animation:fadeIn .3s linear backwards .6s;
}

.home .swiper-button-next,
.home .swiper-button-prev{

    top: inherit;
    left: inherit;
    bottom: 0;
    right: O;
    height: 7rem;
    width: 7rem;
    background: var(--white);
    color: var(--black);
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover{
    background: var(--main-color);
    color: var(--white);

}
.home .swiper-button-next::after,
.home .swiper-button-prev::after{
    font-size: 2rem;

}
.home .swiper-button-prev{
    right: 7rem;
}

.home .slide .content h3{
    font-size: 6vw;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding:1rem 0;
    animation:fadeIn .3s linear backwards .2s;
}
.btn{
    display: inline-block;
    background: var(--black);
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.7rem;
    padding: 1rem 3rem ;
    cursor: pointer;

}
.btn:hover{
    background: var(--main-color);
}
@keyframes fadeIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }
}

/*home about*/

.home-about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.home-about .image {
    flex: 1 1 41rem;
}
.home-about .image img{
    width: 100%;

}
.home-about .content{
    flex:1 1 41rem;
    padding: 3rem;
    background: var(--light-bg);
}
.home-about .content h3{
    font-size: 3rem;
    color: var(--black);
}
.home-about .content p{
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
    color: var(--black);
}


/*home package srtarts*/
.home-package{
    background: var(--light-bg);
}

.home-package .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;

}
.home-package .box-container  .box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
}

.home-package .box-container .box.image{
    height: 25rem;
    overflow: hidden;

}

.home-package .box-container  .box.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.home-package .box-container  .box .content{
    padding: 2rem;
    text-align: center;
}
.home-package .box-container  .box .content h3{
    font-size: 2.5rem;
    color: var(--black);

}
.home-package .box-container  .box .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
    
}



















/*footer*/
.footer{
    background: url(../images/a.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;

}
.footer .box-container .box h3{
    color: var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}
.footer .box-container .box a{
    color: var(--light-white);
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: block;
}

.footer .box-container .box a i {
    color: var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}


