* {
    font-family: montserrat;
}
body{
    background: f1fbff;
}
.section-padding{
    padding: 100px 0;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 25px;
    line-height: 1.9;
}

.navbar nav a{
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-light .navbar-brand{
    color: #000000;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 10px;
}

ul li {
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 2px;
  }
  ul li a:hover {
      background-color: rgb(26, 88, 14);
      
  }
  ul li ul li {
      display: none;
  }
  ul li:hover ul li {
      display: block;
  }





/*historique*/
#historique p{
    text-align: justify;
   
}
#historique h2{
   color: blue;
       margin: 0;
}

#historique img{
   margin: 50px; 
   height: 50vh;
   
}





/*footer*/
.footer{
    background: url(../image/a.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;

}
.footer .box-container .box h3{
    color: var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}
.footer .box-container .box a{
    color: var(--light-white);
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: block;
}

.footer .box-container .box a i {
    color: var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}
